* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.titre-sony {
    color: white;
    text-align: right;
    width: 99%;
    font-size: 25px;
    padding: 3px;
    letter-spacing: 3px;
}

.head {
    background-color: black;
    align-items: center;
}

.Play-Logo {
    width: 4%;
    margin: 11px;
}

.ul {
    width: 95%;
    display: flex;
    position: relative;
    top: -40px;
    left: 70px;
    list-style: none;
}
.ul .co{
    position: right;
    background-color: rgb(101, 101, 232);
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    letter-spacing: 3px;
    position: relative;
    left: 580px;
}

.ul li {
    padding: 1px;
}
.ul li a {
    padding: 10px;
    text-decoration: none;
    color: black
}